{% extends '_layouts/main' %}

{% block main %}


   <section class="hero is-medium is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
              <h1 class="title is-2 is-spaced">
                About
              </h1>
            
            </div>
          </div>

        </div>
      </div>
    </section>


    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <figure class="image is-228x228">
                        <img src="https://bulma.io/images/placeholders/256x256.png">
                      </figure>
                </div>
                <div class="column">
                    <h3 class="title is-3">About Melissa</h3>
                    <p class="is-spaced"> I connect with people quickly and aim to become their trusted advisor and objective sounding board in both personal lives and professional lives. I believe if you’re mind is clouded with personal issues, it’s difficult to show up well at work, so I aim to coach the whole person. No topic is off limits.</p>
                    <p> I connect with people quickly and aim to become their trusted advisor and objective sounding board in both personal lives and professional lives. I believe if you’re mind is clouded with personal issues, it’s difficult to show up well at work, so I aim to coach the whole person. No topic is off limits.</p>

                    <a class="button is-primary">Learn More</a>

                  </div>
                
        </div>
      </section>

      <section class="section">
          <div class="container">

              <h3 class="title is-3 has-text-centered">Our Client List</h3>

              <div class="columns">
                  <div class="column">
                      <figure class="image is-128x128">
                          <img src="https://bulma.io/images/placeholders/256x256.png">
                        </figure>
                  </div>
                  <div class="column">
                      <figure class="image is-128x128">
                          <img src="https://bulma.io/images/placeholders/256x256.png">
                        </figure>
                  </div>
                  <div class="column">
                      <figure class="image is-128x128">
                          <img src="https://bulma.io/images/placeholders/256x256.png">
                        </figure>
                  </div>
                  <div class="column">
                      <figure class="image is-128x128">
                          <img src="https://bulma.io/images/placeholders/256x256.png">
                        </figure>
                  </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <figure class="image is-128x128">
                            <img src="https://bulma.io/images/placeholders/256x256.png">
                          </figure>
                    </div>
                    <div class="column">
                        <figure class="image is-128x128">
                            <img src="https://bulma.io/images/placeholders/256x256.png">
                          </figure>
                    </div>
                    <div class="column">
                        <figure class="image is-128x128">
                            <img src="https://bulma.io/images/placeholders/256x256.png">
                          </figure>
                    </div>
                    <div class="column">
                        <figure class="image is-128x128">
                            <img src="https://bulma.io/images/placeholders/256x256.png">
                          </figure>
                    </div>
                  </div> 

          </div>
        </section>


        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div><span class="number">16</span></div>
                        <span class="number-name">NAME OF ACCOMPLISHMENT</span>
                    </div>
                    <div class="column">
                        <div><span class="number">16</span></div>
                        <span class="number-name">NAME OF ACCOMPLISHMENT</span>
                    </div>
                    <div class="column">
                        <div><span class="number">16</span></div>
                        <span class="number-name">NAME OF ACCOMPLISHMENT</span>
                    </div>
                    <div class="column">
                        <div><span class="number">16</span></div>
                        <span class="number-name">NAME OF ACCOMPLISHMENT</span>
                    </div>
                  </div>
  
                  <div class="columns">
                      <div class="column">
                          <div><span class="number">16</span></div>
                          <span class="number-name">NAME OF ACCOMPLISHMENT</span>
                      </div>
                      <div class="column">
                          <div><span class="number">16</span></div>
                          <span class="number-name">NAME OF ACCOMPLISHMENT</span>
                      </div>
                      <div class="column">
                          <div><span class="number">16</span></div>
                          <span class="number-name">NAME OF ACCOMPLISHMENT</span>
                      </div>
                      <div class="column">
                          <div><span class="number">16</span></div>
                          <span class="number-name">NAME OF ACCOMPLISHMENT</span>
                      </div>
                    </div> 
  
            </div>
          </section>



        <section class="section">
            <div class="container">
             
              <div class="columns">

              <div class="column">
                
                   
                      <blockquote>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</blockquote>
                      
                      <div class="columns">

                          <div class="column">
                              <figure class="image is-128x128">
                                  <img src="https://bulma.io/images/placeholders/256x256.png">
                                </figure>
                             
                         </div>   
                         <div class="column">
                            <div><span class="name">Steve Jobs</span></div>
                            <span class="company-name">Apple // CEO</span>
                          </div>   
                        </div>    

                </div> 
                
                <div class="column">
                
                   
                    <blockquote>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</blockquote>
                    
                    <div class="columns">

                        <div class="column">
                            <figure class="image is-128x128">
                                <img src="https://bulma.io/images/placeholders/256x256.png">
                              </figure>
                           
                       </div>   
                       <div class="column">
                          <div><span class="name">Steve Jobs</span></div>
                          <span class="company-name">Apple // CEO</span>
                        </div>   
                      </div>    

              </div> 

            </div>

            <div class="container">
             
                <div class="columns">
  
                <div class="column">
                  
                     
                        <blockquote>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</blockquote>
                        
                        <div class="columns">
  
                            <div class="column">
                                <figure class="image is-128x128">
                                    <img src="https://bulma.io/images/placeholders/256x256.png">
                                  </figure>
                               
                           </div>   
                           <div class="column">
                              <div><span class="name">Steve Jobs</span></div>
                              <span class="company-name">Apple // CEO</span>
                            </div>   
                          </div>    
  
                  </div> 
                  
                  <div class="column">
                  
                     
                      <blockquote>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</blockquote>
                      
                      <div class="columns">
  
                          <div class="column">
                              <figure class="image is-128x128">
                                  <img src="https://bulma.io/images/placeholders/256x256.png">
                                </figure>
                             
                         </div>   
                         <div class="column">
                            <div><span class="name">Steve Jobs</span></div>
                            <span class="company-name">Apple // CEO</span>
                          </div>   
                        </div>    
  
                </div> 
  
              </div>


          </section>

         

            <section class="section has-text-centered" >
                <div class="container">
                    
                  
                    <div class="column">
                        Ready to Level Up?
                        <a class="button is-primary">Learn More</a>
                      </div>
    
    
                </div>
              </section>

            
{% endblock %}