{% extends '_layouts/main' %}

{% block main %}


    <section class="hero is-medium is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
              <h1 class="title is-2 is-spaced">
                {{ entry.title }}
              </h1>
              <h2 class="subtitle is-4">
                  
              </h2>
            </div>
          </div>

      
        </div>
      </div>
    </section>


    
<section>
    <div class="columns is-mobile is-centered">
        <div class="column is-half is-narrow">
           {{ entry.bodyContent }}
        </div>
      </div>
</section>

<



  {% endblock %}